.shop-item {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    background-size: contain;
}

.shop-item-name {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 20px;
}

.shop-item-price {
    text-align: right;
    position: relative;
    display: inline-block;
    width: 100%;
    left: -8px;
    top: 50px;
    font-size: 20px;
}

.shop-item-buy{
    width: 44px;
    height: 32px;
}